@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url("../public/Fonts/text-1.woff2");
}
@font-face {
    font-family: font2;
    src: url("../public/Fonts/text-2.woff2");
}



html, body {
 /* background-color: black; */
}
 